<div class="chat-header">
  <div class="left-header">
    <div class="header-name">
      room-name
    </div>
  </div>
  <div class="right-header">
    <div class="header-end">
      <a href="#">
        チャットを終了する
      </a>
    </div>
  </div>
</div>

<div class="messages">
  <div class="message">
    <div class="name-time">
      <div class="name">TOM</div>
      <div class="time">2020/11/3(Tue) 22:52</div>
    </div>
    <div class="text">
      おはよう
    </div>
  </div>
  <div class="message">
    <div class="name-time">
      <div class="name">SUM</div>
      <div class="time">2020/11/3(Tue) 23:01</div>
    </div>
    <div class="text">
      こんばんは
    </div>
  </div>
</div>

<div class="form">
  <div class="form-input">
    <input class="form-message" placeholder= "type a message">
    <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
    </label>
  </div>
  <input class="form-submit" type="submit" vlue="送信">
</div>